<h2>Amortização - Tabela Price</h2>
<br />
<div>
  <label for="saldo" id="saldo">Saldo: </label>
  <input [(ngModel)]="saldo" /><br /><br />

  <label for="presenteValor" id="presenteValor">Presente Valor: </label>
  <input [(ngModel)]="presenteValor" /><br /><br />

  <label for="parcelas">Parcelas: </label>
  <input [(ngModel)]="parcelas" /><br /><br />

  <label for="taxa">Taxa de juros unitária: </label>
  <input [(ngModel)]="taxa" /><br /><br />

  <br />

  <table>
    <thead>
      <th>Mês |</th>
      <th>Prestação |</th>
      <th>Juros |</th>
      <th>Amortização |</th>
      <th>Saldo devedor |</th>
    </thead>
    <tbody>
      <tr *ngFor="let result of data">
        <td>{{ result.mes }}</td>
        <td>{{ result.prestacao }}</td>
        <td>{{ result.juros }}</td>
        <td>{{ result.amort }}</td>
        <td>{{ result.saldo }}</td>
      </tr>
    </tbody>
  </table>
</div>
